<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->2
   
<extension
      id="fleur.knime.nodes"
      point="org.knime.workbench.repository.nodes">
<node category-path="/inflor/read" deprecated="false" factory-class="inflor.knime.nodes.fcs.read.set.ReadFCSSetNodeFactory"/>
<node after="inflor.knime.nodes.fcs.read.ReadFCSSetNodeFactory" category-path="/inflor/read" deprecated="false" factory-class="inflor.knime.nodes.fcs.read.ReadFCSTableNodeFactory"/>
<node after="inflor.knime.nodes.fcs.read.ReadFCSSetNodeFactory" category-path="/inflor/read" deprecated="false" factory-class="inflor.knime.nodes.fcs.read.ReadFCSTableNodeFactory"/>
<node category-path="/inflor/analyze" deprecated="false" factory-class="inflor.knime.nodes.treesne.TreeSNENodeFactory"/>
<node category-path="/inflor/comp" deprecated="false" factory-class="inflor.knime.nodes.compensation.apply.ApplyCompensationNodeFactory"/>
<node after="inflor.knime.nodes.compensation.apply.ApplyCompensationNodeFactory" category-path="/inflor/comp" deprecated="false" factory-class="inflor.knime.nodes.compensation.extract.fcs.ExtractCommpensationNodeFactory"/>
<node after="inflor.knime.nodes.compensation.apply.ApplyCompensationNodeFactory" category-path="/inflor/comp" deprecated="false" factory-class="inflor.knime.nodes.compensation.extract.fjmtx.ExtractCompJONodeFactory"/>
<node category-path="/inflor/transform" deprecated="false" factory-class="inflor.knime.nodes.transform.create.TransformNodeFactory"/>
<node category-path="/inflor/util" deprecated="false" factory-class="inflor.knime.nodes.downsample.DownsampleNodeFactory"/>
<node category-path="/inflor/util" deprecated="true" factory-class="inflor.knime.nodes.portToTableCell.ColumnStoreToTableCellNodeFactory"/>
<node category-path="/inflor/analyze" deprecated="false" factory-class="inflor.knime.nodes.gating.CreateGatesNodeFactory"/>
<node category-path="/inflor/analyze" deprecated="true" factory-class="inflor.knime.nodes.statistics.SummaryStatisticsNodeFactory"/>
<node category-path="/inflor/analyze" deprecated="false" factory-class="inflor.knime.nodes.utility.extract.data.ExtractDataNodeFactory"/>
<node category-path="/inflor/analyze" deprecated="false" factory-class="inflor.knime.nodes.bhtsne.table.TSNENodeFactory">
</node>
<node category-path="/inflor/comp" deprecated="false" factory-class="inflor.knime.nodes.compensation.calculate.CalculateCompensationNodeFactory"/>
<node category-path="/inflor/util" factory-class="inflor.knime.nodes.compensation.convert.ConvertMatrixNodeFactory"/>
</extension>

<extension point="org.knime.workbench.repository.categories">
		<category icon="META-INF/icons/inflor_knime.png" level-id="inflor" locked="true" name="Inflor" path="/"/>
  <category description="Nodes for reading FCS Files (eg. to table, frame or set)." icon="META-INF/icons/inflor_knime.png" level-id="read" locked="true" name="Read FCS" path="/inflor">
  </category>
  <category after="read" description="Nodes pertaining to the creation and application of compensation matricies" icon="META-INF/icons/inflor_knime.png" level-id="comp" locked="true" name="Compensate" path="/inflor">
  </category>
  <category after="comp" description="Nodes related to creating or altering display transformations (eg. linear, log, or logicle)" icon="META-INF/icons/inflor_knime.png" level-id="transform" locked="true" name="Transform" path="/inflor">
  </category>
  <category after="transform" description="Nodes to further ananlysis and characterization of cytometry data (eg. gating, sne, clustering)" icon="META-INF/icons/inflor_knime.png" level-id="analyze" locked="true" name="Analyze" path="/inflor">
  </category>
  <category after="analyze" icon="META-INF/icons/inflor_knime.png" level-id="util" locked="true" name="Utilities" path="/inflor">
  </category>
</extension>

<extension point="org.knime.core.PortType">
      <portType color="#9B30FF" hidden="false" name="Inflor.FCSFramePort" objectClass="inflor.knime.ports.fcs.FCSFramePortObject" objectSerializer="inflor.knime.ports.fcs.FCSFramePortObject$Serializer" specClass="inflor.knime.ports.fcs.FCSFramePortSpec" specSerializer="inflor.knime.ports.fcs.FCSFramePortSpec$Serializer"/>
      <portType color="#F300FF" hidden="false" name="Inflor.compMatrix" objectClass="inflor.knime.ports.compensation.CompMatrixPortObject" objectSerializer="inflor.knime.ports.compensation.CompMatrixPortObject$Serializer" specClass="inflor.knime.ports.compensation.CompMatrixPortSpec" specSerializer="inflor.knime.ports.compensation.CompMatrixPortSpec$Serializer">
      </portType>
</extension>
<extension point="org.knime.core.DataType">
   <DataType cellClass="inflor.knime.data.type.cell.fcs.FCSFrameFileStoreDataCell" factoryClass="inflor.knime.data.type.cell.fcs.FCSFrameCellFactory">
      <serializer cellClass="inflor.knime.data.type.cell.fcs.FCSFrameFileStoreDataCell" serializerClass="inflor.knime.data.type.cell.fcs.FCSFrameFileStoreDataCell$Serializer">
      </serializer>
   </DataType>
</extension>
<extension point="org.knime.core.DataValueRenderer">
   <dataValue valueClass="inflor.knime.data.type.cell.fcs.FCSFrameDataValue">
      <renderer rendererFactoryClass="inflor.knime.data.type.cell.fcs.FCSFrameCellRenererFactory" suggestAsDefault="true">
      </renderer>
   </dataValue>
</extension>
   
</plugin>
