<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
<extension point="org.knime.workbench.repository.nodes">
	<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.ReadFCS.FCSReaderNodeFactory" id="FCSReaderNodeFactory"/>
	<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.SNE.TSNENodeFactory" id="TSNENodeFactory"/>
<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.ReadFCSFrame.FCSFrameReaderNodeFactory" id="FCSFrameReaderNodeFactory"/>
<node category-path="/" factory-class="io.landysh.inflor.java.knime.nodes.Singlets.FindSingletsNodeFactory" id="io.landysh.inflor.nodes.knime.RemoveDoubletsNodeFactory"/>
<node category-path="/" factory-class="io.landysh.inflor.java.knime.nodes.CellCycle.LearnCellCycleNodeFactory" id="io.landysh.inflor.knime.nodes.CellCycle.ModelCellCycleNodeFactory"/>
</extension>

<extension point="org.knime.workbench.repository.categories">
		<category icon="META-INF/icons/inflor_knime.png" level-id="inflor" locked="true" name="Inflor" path="/"/>
</extension>

<extension point="org.knime.core.PortType">
      <portType color="#9B30FF" hidden="false" name="Inflor.FCSPort" objectClass="io.landysh.inflor.java.knime.portTypes.fcs.FCSFramePortObject" objectSerializer="io.landysh.inflor.java.knime.portTypes.fcs.FCSFramePortSerializer" specClass="io.landysh.inflor.java.knime.portTypes.fcs.FCSFrameSpec" specSerializer="io.landysh.inflor.java.knime.portTypes.fcs.FCSFramePortSpecSerializer"/>
</extension>
   
</plugin>
