<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->2
   
<extension point="org.knime.workbench.repository.nodes">
	<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.readFCS.ReadFCSTableNodeFactory" id="ReadFCSTable"/>
	<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.calculateTSNE.TSNENodeFactory" id="CalculateTSNE"/>
<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.readFCS.ReadFCSFrameNodeFactory" id="ReadFCSFrame"/>
<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.removeDoublets.FindSingletsNodeFactory" id="FilterSingletsTable"/>
<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.learnCellCycle.LearnCellCycleNodeFactory" id="ModelCellCycle"/>
<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.removeDoublets.RemoveDoubletsFrameNodeFactory" id="io.landysh.inflor.java.knime.nodes.findSinglets.FindSingletsFrameNodeFactory"/>
<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.downsample.DownsampleNodeFactory" id="io.landyish.inflor.knime.nodes.downsample.DownsampleNodeFactory"/>
<node category-path="/inflor" factory-class="io.landysh.inflor.java.knime.nodes.portToTableCell.ColumnStoreToTableCellNodeFactory" id="io.landysh.inflor.java.knime.nodes.portToTableCell.ColumnStoreToTableCellNodeFactory"/>
<node category-path="/" factory-class="io.landysh.inflor.java.knime.nodes.readFCS.ReadFCSSetNodeFactory" id="io.landysh.inflor.java.knime.nodes.readFCS.ReadFCSSetNodeFactory"/>
<node category-path="/" factory-class="io.landysh.inflor.java.knime.nodes.removeDoublets.RemoveDoubletsNodeFactory" id="io.landysh.inflor.java.knime.nodes.removeDoublets.RemoveDoubletsNodeFactory"/>
</extension>

<extension point="org.knime.workbench.repository.categories">
		<category icon="META-INF/icons/inflor_knime.png" level-id="inflor" locked="true" name="Inflor" path="/"/>
</extension>

<extension point="org.knime.core.PortType">
      <portType color="#9B30FF" hidden="false" name="Inflor.AVSPort" objectClass="io.landysh.inflor.java.knime.portTypes.annotatedVectorStore.ColumnStorePortObject" objectSerializer="io.landysh.inflor.java.knime.portTypes.annotatedVectorStore.ColumnStorePortObject$Serializer" specClass="io.landysh.inflor.java.knime.portTypes.annotatedVectorStore.ColumnStorePortSpec" specSerializer="io.landysh.inflor.java.knime.portTypes.annotatedVectorStore.ColumnStorePortSpec$Serializer"/>
</extension>
<extension point="org.knime.core.DataType">
   <DataType cellClass="io.landysh.inflor.java.knime.dataTypes.columnStoreCell.ColumnStoreCell" factoryClass="io.landysh.inflor.java.knime.dataTypes.columnStoreCell.ColumnStoreCellFactory">
      <serializer cellClass="io.landysh.inflor.java.knime.dataTypes.columnStoreCell.ColumnStoreCell" serializerClass="io.landysh.inflor.java.knime.dataTypes.columnStoreCell.ColumnStoreCell$ColumnStoreCellSerializer">
      </serializer>
   </DataType>
</extension>
   
</plugin>
